<html>
<head> <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
<title></title>
</head>
<body>
<form method= "post" action="/countries">
<div class="center"><h1> Add a country</h1></div>
<div>
<input type="text" name="country" placeholder="country"/><Br><Br>
<input type="text" name="capitol" placeholder="capitol"/> <Br><Br>
<input type="text" name="population" placeholder="population"/> <Br><Br>
<input type="text" name="flag" placeholder="flag URL here"/> <Br><Br>
<input class="center" type ="submit"> </div>
</form>
<br><Br>
<div class='center'><a href="/countries">View all countries</a></div>
</body>
</html>
